.split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    /* padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%; */
   
  }

.top{
    top: 0;
    background-color: aqua;
}

.bottom{
    bottom: 0;
    background-color: black;
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
}

.line{
    position:absolute;
    width:100%;
    top: 0%;
    color: blueviolet;
    z-index: 2;    
}